body {
    margin: 0;
    background-color: navy;
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px #0000004f;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: purple;
}

.nav-links li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
}

.nav-links li a {
    color: white;
}

nav img {
    height: auto;
    width: 100%;
    max-width: 100px;
}

.page {
    height: 100vh;
    padding: 20px;
    background-color: navy;
    color: white;
}

footer {
    padding: 20px;
    color: white;
}